.circleRating {
    background-color: var(--black);
    border-radius: 20%;
    padding: 4px;
    transition: transform 0.3s ease-in-out; /* Add transition property */

    &:hover {
        transform: scale(1.1);
    }

    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);
    }

    .CircularProgressbar-trail {
        stroke: transparent;
    }
}
